@model SiccoApp.Models.ContractorDashboardViewModel

<div class="right_col" role="main">

    <br />
    <div class="">

        <div class="row top_tiles">
            <!--
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-file-pdf-o"></i>
                    </div>
                    <div class="count">179</div>

                    <h3>Documentos</h3>
                    <p>En el mes corriente</p>
                </div>
            </div>
            -->
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="count">@Html.DisplayFor(model => model.TotalQuantityVehicles)</div>
                    <h3>@Resources.EtyVehicles</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="count">@Html.DisplayFor(model => model.TotalQuantityEmployees)</div>
                    <h3>@Resources.EtyEmployees</h3>
                    <p>...</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-sort-amount-desc"></i>
                    </div>
                    <div class="count">9</div>

                    <h3>Rechazos</h3>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="count">170</div>

                    <h3>Aceptaciones</h3>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Resumen Documentos <small>semanal</small></h2>
                        <div class="filter">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>7 de Marzo 2016 - 11 de Marzo 2016</span> <b class="caret"></b>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-9 col-sm-12 col-xs-12">
                            <div class="demo-container" style="height:280px">
                                <div id="placeholder33x" class="demo-placeholder"></div>
                            </div>
                            <div class="tiles">
                                <div class="col-md-4 tile">
                                    <span>Progresion</span>
                                    <h2>2.450</h2>
                                    <span class="sparkline11 graph" style="height: 160px;">
                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                    </span>
                                </div>
                                <div class="col-md-4 tile">
                                    <span>Progresion</span>
                                    <h2>2.450</h2>
                                    <span class="sparkline22 graph" style="height: 160px;">
                                        <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                                    </span>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <div>
                                <div class="x_title">
                                    <h2>Ranking Contratistas</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li>
                                            <a href="#"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li>
                                                    <a href="#">Settings 1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Settings 2</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <ul class="list-unstyled top_profiles scroll-view">
                                    <li class="media event">
                                        <a class="pull-left border-aero profile_thumb">
                                            <i class="fa fa-user aero"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#">  Empresa XXX S.A.</a>
                                            <p><strong>300 </strong> Documentos Totales </p>
                                            <p>
                                                <small>12 Aprobados esta semana</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media event">
                                        <a class="pull-left border-green profile_thumb">
                                            <i class="fa fa-user green"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#">Empresa La Vial S.A.</a>
                                            <p><strong>205</strong> Documentos Totales </p>
                                            <p>
                                                <small>7 Aprobados esta semana</small>
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media event">
                                        <a class="pull-left border-blue profile_thumb">
                                            <i class="fa fa-user blue"></i>
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#">El Bagual S.R.L</a>
                                            <p><strong>140</strong> Documentos Totales </p>
                                            <p>
                                                <small>4 Aprobados esta semana</small>
                                            </p>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        @*<footer>
            <div class="copyright-info">
                <p class="pull-right">
                    Sicco - Sistema de Control de Contratistas <a href="http://www.siccoapp.com.ar">sicco.com.ar</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </footer>*@
        <!-- /footer content -->

    </div>

</div>
