@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Confirmacion Recuperacion Contraseña";
}

<div class="animate form login_form">
    <section class="login_content">

        <h1>@ViewBag.Title.</h1>
        <div>
            <p>
                Por favor chequee su email para recuperar la contraseña.
            </p>
        </div>
        <div class="separator">
            <div>
                @*<h1><i class="fa fa-paw"></i> Sicco</h1>*@
                <img class=".img-responsive" src="~/Content/images/logocolor.png" height="30px">
                <p>@Resources.CopyRightFooter</p>
            </div>
        </div>
    </section>
</div>
