<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Ha ocurrido un error.</h2>
        <a href="~/">volver</a>
    </hgroup>
</body>
</html>
